.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color:white;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 2px double black;
    border-radius: 5px; 
    background-color: white;
}

.header_logo {
    width: 50px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 6px;
    margin-bottom: 8px;
    border: 2px double lightgreen;
    border-radius: 50%;
    background-color: white;
}
.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 25px;
}
.header_searchInput::placeholder {
    color: grey;
    /* Gray color for the placeholder text */
    font-family: sans-serif;
    font-size: 15px;
    font-style: oblique;
    /* Optional: italic text */
}
.header_searchInput {
    background-color: lightgoldenrodyellow;
    border: 0.1px  groove black;
    border-radius: 5px;
    height: 12px;
    padding: 10px;
    width: 100%;
}
.header_searchIcon{
    padding: 5px;
    height: 22px !important;
    background-color: #febd69;
    border: 0.1px outset black;
    border-radius: 5px;
}
.header_nav {
    display: flex;
    justify-content: space-evenly;
}
.header_option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}
.header_optionLineOne{
    text-align: left;
    font-size: 10px;
}
.header_optionLineTwo {
    text-align: left;
    font-size: 13px;
    font-weight: 800;
}
.header_optionBasket{
    display: flex;
    align-items: center;
    color: black;
}
.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
.header_option {
    text-decoration: none;
}


